html {
    font-size: 16px;
}

body {
    margin: 1em;
    text-align: center;
    color: #360;
    background-color: aquamarine;
}

section {
    min-width: 900px;
    font-family: Courier
}

footer {
    clear: both;
    padding: 50px;
    font-size: 30px;
    color: black;
    font-family: cursive;
}

article {
    width: 50em;
    text-align: center;
    margin: 1em auto;
}

article > button {
    width: 210px;
    height: 210px;
    margin: 1em;
    padding: 0;
}

#reset {
    width: 200px;
    height: 40px;
    font-size: 25px;
    font-style: italic;
    background-color: red;
    color: white;
    font-family: fantasy;
}



.block {
    width: 210px;
    height: 210px;
    background-color: blueviolet;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 1em;
    padding: 0;
    float: left;
}

#monkeys {
    width: 500px;
    margin: 0 auto;
}

.SeeNoEvil {
    background-image: url(../img/seenoevil.png);
}

.HearNoEvil {
    background-image: url(../img/hearnoevil.png);
}

.SpeakNoEvil {
    background-image: url(../img/speaknoevil.png);
}
